@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */





.col{
	display:block;
	position:fixed;
	
	
}

.col2{
	display:block;
	position:fluid;
	

	
}


.row{
	
    display: inline-block;
    width: 200px;
    height: 250px;
    margin: 10px;
    border: 3px solid #4CAF50; 
 
}


.p{
	font-family:Verdana, Geneva, sans-serif
	
}






.footer{
	position:fixed;
	
	
}

 
 .nav{
	 width:50;
	 
 }
 
 
 .contact{
	 background-color:#blue;
 }
-----------------------------------

ul {
    
    block
    width:60%;
    background-color: #4CAF50;
    position: fixed;
    height: 35%;
    overflow: auto;
	
}



 a {
    display: block;
    color: #000;
    padding: 10px 10px;
	text-decoration: none;
	font-family:  "Georgia", Serif;
	   
}

.active {
    background-color: #00F;
    color: black;
	text-decoration: none;
	
}

 a:hover:not(.active) {
    background-color: #00C;
    color: black;
}